
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, #762145, #631934, #4F1325, #3C0C17, #2B0507);
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
}

.minesweeper {
  width: 95vw;
  margin: 0 auto;
}

.board {
  
}

.board__header {
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.board__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  min-height: calc(100vh - 8rem);
}

.board__footer {
  border-top: 1px solid rgba(255, 255, 255, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.row {
  display: flex;
}

.cell {
  border-width: 1px;
  border-style: solid;
  border-radius: .25rem;
  margin: .375rem;
  color: rgba(255, 255, 255, .8);
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  font-weight: 300;
}

.cell--closed {
  border-color: #FEFEFE;
  font-size: 0;
}

.cell--marked {
  border-color: #35D3D0;
  font-size: 0;
}

.cell--marked::after {
  content: '';
  display: block;
  width: .5rem;
  height: .5rem;
  border: 1px solid #35D3D0;
  border-radius: 50%;
}

.cell--mine {
  border-radius: 50%;
  border-color: #EA3E6C;
}

.cell--empty {
  border-color: #985C5C;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem;
}
